services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 5s
      retries: 3

  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
    volumes:
      - .:/app
    command: uv run fastapi dev main.py --host 0.0.0.0
    depends_on:
      rabbitmq:
        condition: service_healthy

  worker:
    build: .
    command: uv run celery -A tasks worker --loglevel=info
    environment:
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
    depends_on:
      rabbitmq:
        condition: service_healthy
