[project]
name = "celery-demo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "celery>=5.4.0",
    "fastapi[standard]>=0.125.0",
]

[dependency-groups]
dev = [
    "ruff>=0.14.9",
]
